*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* todoForm */

#todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#todo-form__inner {
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.todo-form__title {
    text-align: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;

}

input {
    outline: 0;
    padding: 10px;
    border: 1px solid #efefef;
    transition: .1s ease;
    width: 500px;
    border-radius: 4px;
}

input:focus {
    border: 1px solid rgb(27, 40, 181);
}

.input-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-block:not(:last-child) {
    margin-bottom: 10px;
}

.todo-img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 3px 0 0 3px;
}

.todo-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-btn {
    border: #e0e0e0;
    border-radius: 4px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    transition: .1s linear;
}

.form-btn:hover {
    box-shadow: 1px 1px 6px 1px #00000046 ;
}

/* todoForm */


/* todoList */

#todos {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.todo, .todo-block__body {
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: all .1s ease;
}

.todo-block__body {
    height: auto;
    min-height: 150px;
}

.todo-block__body:hover {
    box-shadow: 1px 1px 4px 1px #00000046;
}

.todo {
    height: 150px;
}

.todo-title {
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.todo.not-completed {
    background: rgba(154, 45, 45, 0.621);
    box-shadow: 1px 1px 4px 1px rgb(46, 35, 35);
    border: transparent;
}

.todo.completed {
    background: rgba(31, 116, 31, 0.582);
    box-shadow: 1px 1px 4px 1px rgb(43, 66, 43);
    border: transparent;
}

.todo-buttons {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.todo-buttons__inner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.todo-completed-not-completed {
    font-weight: 700;
    color: red;
}

.todo-completed-completed {
    font-weight: 700;
    color: green;
}

.todo-completed-hover {
    color: #fff;
}

.delete-btn, .complete-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    border: 1px solid #e0e0e0;
    padding: 8px 25px;
    transition: 150ms linear;
    border-radius: 4px;
}

.delete-btn:hover {
    border: 1px solid transparent;
    background: rgba(154, 45, 45, 0.621);
}

.complete-btn:hover {
    border: 1px solid transparent;
    background: rgba(35, 142, 35, 0.542);
}

.todo-body {
    word-break: break-all;
    white-space: pre-wrap;
    width: 100%;
}

/* todoList */


/* animations */

@keyframes todo-body-appear {
    0% {
        transform: rotateY(0deg);
        background-color: rgba(154, 45, 45, 0.621);
    }

    100% {
        transform: rotateY(185deg);
        background: #fff;
    }
}

@keyframes todo-body-disappear {
    0% {
        transform: rotateY(185deg);
        background: #fff;
        color: transparent;
    }

    100% {
        transform: rotateY(0deg);
        background-color: rgba(154, 45, 45, 0.621);
    }
}

.todo-block__body-enter-active {
    animation: todo-body-appear 600ms linear forwards;
}

.todo-block__body-exit-active {
    animation: todo-body-disappear 600ms linear forwards;
}

/* animations */